//WEBSITE COLORS

$blk: black;
$wht: whitesmoke;
$gry: rgb(89, 89, 89);

$main-accent: rgb(255, 196, 0);
$secondary-accent: turquoise;

.color1{
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;

  margin: 0.3rem;

background-image: linear-gradient(to top, #7a7a7a, #9a9a9a, #bababa, #dcdcdc, #ffffff);
}

.color2 {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;

  margin: 0.3rem;

  background-image: linear-gradient(to top, #006b62, #008785, #00a4ab, #00c1d4, #00deff);
}

.color3 {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;

  margin: 0.3rem;

  background-image: linear-gradient(to top, #ff9b00, #ffb100, #ffc700, #ffde00, #fff400);
}

.color4 {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;

  margin: 0.3rem;

  background-image: linear-gradient(to top, #ff00de, #fa4eea, #f570f3, #f18afa, #eea1ff);
}

.color5 {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;

  margin: 0.3rem;

  background-image: linear-gradient(to top, #00656f, #008c8b, #00b393, #00da86, #00ff63);
}

.color6 {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;

  margin: 0.3rem;

  background-image: linear-gradient(to top, #6f0000, #910a06, #b51908, #da2706, #ff3700);
}



